<div>
    <div ng-show="stars >= 5">
        &#9733;&#9733;&#9733;&#9733;&#9733;
    </div>
    <div ng-show="4 == stars">
        &#9733;&#9733;&#9733;&#9733;&#9734;
    </div>
    <div ng-show="3 == stars">
        &#9733;&#9733;&#9733;&#9734;&#9734;
    </div>
    <div ng-show="2 == stars">
        &#9733;&#9733;&#9734;&#9734;&#9734;
    </div>

    <div ng-show="1 == stars">
        &#9733;&#9734;&#9734;&#9734;&#9734;
    </div>

    <div ng-show="0 == stars">
        &#9734;&#9734;&#9734;&#9734;&#9734;
    </div>
</div>