<html>

<head>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
</head>

<body class="container ng-cloak" data-ng-app>
       
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">At The Movies (NG)</a>
            </div>
        </div>
    </nav>

    <div class="row" ng-controller="MoviesController">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Released</th>
                        <th>Length</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="movie in movies">
                        <td>{{movie.title}}</td>
                        <td>{{movie.released}}</td>
                        <td>{{movie.length}}</td>
                        <td>
                            <button type="button" ng-click="increase(movie)" class="btn btn-success">+ Length</button>
                            <button type="button" ng-click="decrease(movie)" class="btn btn-warning">- Length</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="../lib/angular.min.js"></script>
    <script src="scripts/MoviesController.js"></script>
</body>

</html>